Data Science Tools and Ecosystem

In [2]:
# Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

In [5]:
# Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:

1. Python  
2. R  
3. SQL  
4. Julia  
5. Java

In [8]:
# Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:

1. Pandas  
2. NumPy  
3. Scikit-learn  
4. TensorFlow  
5. Matplotlib

In [11]:
# Exercise 6 - Create a markdown cell with a table of Data Science tools

| Data Science Tools |
|--------------------|
| Jupyter Notebook  |
| RStudio           |
| Apache Zeppelin   |

In [16]:
# Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python.

In [19]:
# Exercise 8 - Create a code cell to multiply and add numbers

# This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

In [22]:
# Exercise 9 - Create a code cell to convert minutes to hours

In [24]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

In [26]:
# Exercise 10 - Insert a markdown cell to list Objectives

**Objectives:**

- List popular languages for Data Science  
- Identify commonly used libraries in Data Science  
- Explore open-source development tools for Data Science  
- Evaluate arithmetic expressions in Python  
- Convert time units using Python expressions

In [31]:
# Exercise 11 - Create a markdown cell to indicate the Author's name

## Author  
Aishwarya Dhanake